<header class="p-1 mb-3 border-bottom">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a href="/tax" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none me-4 text-primary">
				INV
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/tax" class="nav-link px-2 link-body-emphasis text-white">Search</a></li>
				<!-- <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						County
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="/county/all">Available Counties</a></li>
						<li><a class="dropdown-item" href="/county/add">Add County</a></li>
					</ul>
				</li> -->
			</ul>

			<div class="dropdown text-end">
				<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="/images/icons8-user-24.png" alt="mdo" width="27" height="27" class="rounded-circle">
				</a>
				<ul class="dropdown-menu text-small">
					<li><a class="dropdown-item">Settings</a></li>
					<li><a class="dropdown-item">Profile</a></li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<form method="post" action="/user/logout">
							<button type="submit" class="dropdown-item">Sign out</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>