<header class="p-1 mb-3 border-bottom">
	<div class="container">
		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
			<a class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none me-4 text-primary">
				INV
			</a>

			<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/tax" class="nav-link px-2 link-body-emphasis text-white">Search</a></li>			
			</ul>			
		</div>
	</div>
</header>