<%- include('header.html') -%>

<div class="loading-modal loading-modal-hide">
	<div class="spinner-border text-secondary" role="status" >
		<span class="visually-hidden">Loading...</span>
	</div>
</div>

<%- include('menu.html') -%>

<style type="text/css">
	table, tr, th, td{
		background-color: transparent !important;
	}
</style>

<main class="container">

	<div class="row gx-5">

		<div class="col-sm-12 col-md-12 p-1">
			<div class="bg-body-tertiary p-4">	
				<h6><span class="badge text-bg-secondary rounded-0">Parcel Search</span></h6>
				<form id="account_search_form" >
					<div class="form-floating mb-3">
						<input type="text" name="accountNumber" class="form-control rounded-0" id="accountNumber" placeholder="Parcel Number" required autocomplete="off">
						<label for="accountNumber">Parcel Number ...</label>
					</div>
					<div class="row">												
						<div class="col-sm-6 col-md-6">
							<div class="input-group">
								<label class="input-group-text rounded-0 label-font-size" for="stateSelect" style="width: 20%">State</label>
								<select name="state" class="form-select rounded-0" id="stateSelect" required autocomplete="off">
									<option selected value="">Choose...</option>
									<%- include('state_select.html') -%>
								</select>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="input-group">
								<label class="input-group-text rounded-0 label-font-size" for="countySelect" style="width: 20%">County</label>
								<select name="county" class="form-select rounded-0" id="countySelect" required autocomplete="off">
									<option selected value="">Choose...</option>							
								</select>
							</div>
						</div>	
					</div>
					<div class="row mt-4" id="clientRow">
						<div class="col-sm-6 col-md-6">
							<div class="input-group">
								<label class="input-group-text rounded-0 label-font-size" for="clientSelect"
									style="width: 20%">Client</label>
								<select name="clientName" class="form-select rounded-0" id="clientSelect">
									<option value="" selected disabled>Choose Client...</option>
									<option value="accurate">Accurate (2 Years)</option>
									<option value="others">Others (1 Year)</option>
									<!-- Add more as needed -->
								</select>
							</div>
						</div>
					</div>							
					<div class="d-grid d-md-flex justify-content-md-end mt-4">
						<button type="submit" id="bothBtn" class="btn btn-primary px-4 btn-sm rounded-0">Search</button>
					</div>
				</form>
			</div>
		</div>

		<div id="resultDisplay" class="m-0 p-0" >
			<div class="col-sm-12 col-md-12 p-1">
				<div class="bg-body-tertiary p-4 d-flex justify-content-center align-items-center text-center" style="color: lightgrey;">
					Search Something ...
				</div>
			</div>
		</div>


	</div>

</main>

<script src="/scripts/get_county_list.js"></script>
<script src="/scripts/account_search.js"></script>
<script src="/scripts/generateDocx.js"></script>
<script>
	document.getElementById('stateSelect').addEventListener('change', function() {
		const clientRow = document.getElementById('clientRow');
		const clientSelect = document.getElementById('clientSelect');

		if (this.value === 'OH' || this.value === 'FL' || this.value === "GA") {
            clientRow.style.display = 'flex';  // shows the row
            clientSelect.required = true;
        } else {
        	clientRow.style.display = 'none';
        	clientSelect.required = false;
            clientSelect.value = '';  // optional: clear selection
        }
    });

    // Hide client row on page load if not OH (in case of refresh or pre-selected)
	window.addEventListener('load', function() {
		if (document.getElementById('stateSelect').value !== 'OH') {
			document.getElementById('clientRow').style.display = 'none';
		}
	});
</script>
<%- include('footer.html') -%>