<div class="col-sm-12 col-md-12 p-1 mb-5">
	<div class="bg-body-tertiary p-4">
		<h6><span class="badge text-bg-secondary rounded-0">Parcel Data</span></h6>
		<div class="row g-3">
			<div class="col-md-4">
				<label class="form-label">Processed Date</label>
				<input type="text" class="form-control rounded-0">
			</div>
			<div class="col-md-4">
				<label class="form-label">Ordered Number</label>
				<input type="text" class="form-control rounded-0">
			</div>
			<div class="col-md-4">
				<label class="form-label">Borrower Name</label>
				<input type="text" class="form-control rounded-0">
			</div>	
			<div class="col-md-4">
				<label class="form-label">Owner Name</label>
				<input type="text" class="form-control rounded-0" value="<%= owner_name.join(',')  %>">
			</div>				
			<div class="col-md-8">
				<label class="form-label">Property Address</label>
				<input type="text" class="form-control rounded-0"  value="<%= property_address %>">
			</div>					
			<div class="col-md-4">
				<label class="form-label">Parcel Number</label>
				<input type="text" class="form-control rounded-0" value="<%= parcel_number %>">
			</div>
			<div class="col-md-4">
				<label class="form-label">Land Value</label>
				<input type="text" class="form-control rounded-0" value="<%= land_value %>">
			</div>
			<div class="col-md-4">
				<label class="form-label">Improvements</label>
				<input type="text" class="form-control rounded-0" value="<%= improvements %>">
			</div>
			<div class="col-md-4">
				<label class="form-label">Total Assessed Value</label>
				<input type="text" class="form-control rounded-0" value="<%= total_assessed_value %>">
			</div>
			<div class="col-md-4">
				<label class="form-label">Exemption</label>
				<input type="text" class="form-control rounded-0" value="<%= exemption %>">
			</div>
			<div class="col-md-4">
				<label class="form-label">Total taxable Value</label>
				<input type="text" class="form-control rounded-0" value="<%= total_taxable_value %>">
			</div>					
		</div>
		<h6 class="pt-4 pb-2"><span class="badge text-bg-secondary rounded-0">Tax History</span></h6>
		<div class="table-responsive">
			<table class="table table-borderless">
				<thead>
					<tr>
						<th scope="col" class="text-dark-emphasis">Jurisdiction</th>
						<th scope="col" class="text-dark-emphasis">Tax_Year</th>
						<th scope="col" class="text-dark-emphasis">Payment_Type</th>
						<th scope="col" class="text-dark-emphasis">Pay_Status</th>
						<th scope="col" class="text-dark-emphasis">Base_Amount</th>
						<th scope="col" class="text-dark-emphasis">Amount_Paid</th>
						<th scope="col" class="text-dark-emphasis">Amount_Due</th>
						<th scope="col" class="text-dark-emphasis">Mailing_Date</th>
						<th scope="col" class="text-dark-emphasis">Due_Date</th>
						<th scope="col" class="text-dark-emphasis">Delq_Date</th>
						<th scope="col" class="text-dark-emphasis">Paid_Date</th>
						<th scope="col" class="text-dark-emphasis">Good_Through_Date</th>
					</tr>
				</thead>
				<tbody>
					<% tax_history.forEach((data)=> { %>
					<tr>
						<td><input type="text" class="form-control rounded-0" value="<%= data['jurisdiction'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['year'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['payment_type'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['status'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['base_amount'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['amount_paid'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['amount_due'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['mailing_date'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['due_date'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['delq_date'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['paid_date'] %>"></td>							
						<td><input type="text" class="form-control rounded-0" value="<%= data['good_through_date'] %>"></td>							
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>