<option value="AL">Alabama</option>
<option value="AZ">Arizona</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="DC">District Of Columbia</option>
<option value="DE">Delaware</option>
<option value="HI">Hawaii</option>
<option value="FL">Florida</option>
<option value="GA">Georgia</option>
<option value="IA">Iowa</option>
<option value="NC">North Carolina</option>
<option value="NM">New Mexico</option>
<option value="NE">Nebraska</option>
<option value="NV">Nevada</option>
<option value="MO">Missouri</option>
<option value="OH">Ohio</option>
<option value="OK">Oklahoma</option>
<option value="OR">Oregon</option>
<option value="SC">South Carolina</option>
<option value="UT">Utah</option>
<option value="WA">Washington</option>